*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --ff-primary: 'Roboto', sans-serif;

  --text-color-h1: hsl(240, 7%, 78%);
  --text-color-p: hsl(240, 9%, 89%) ;

  --button-color: #FFFFFF;
  
    font-size: 62.5%;
}

body{ 
  font-family: var(--ff-primary);

  background-image: url(./image/mountains-universe-1\ 1.png);
  background-repeat: no-repeat;
  background-size: 1600px 720px;
  background-position-x: left;
}


header{
  display: flex;
  align-items: center;
  margin: 4rem 4rem 7.2rem 7.2rem;
  gap: 4rem;
}
 

nav a{
  text-decoration: none;

  font-weight: bold;
  font-size: 2.2rem;
  color: var(--text-color-h1);
  
  padding: 3.2rem;
}


/*home /  texts*/

#logotipo{
  font-size: 1.4rem;
  font-weight: bold;
  color:var(--button-color);
  cursor: pointer;
  
  border: none;
  background: none;
}

h1{
  font-size: 4.8rem;
  font-weight: bold;
  color: var(--text-color-h1);

  margin: 10rem 8rem 1.6rem;
}

h2{
  font-size: 4.8rem;
  font-weight: bold;
  color: var(--text-color-h1);

  display: flex;
  justify-content: center;

  margin-top: 10%;

}

#sabermais{
  font-size: 1.4rem;
  font-weight: bold;
  color:var(--button-color);
  cursor: pointer;
  text-transform: uppercase;
  
  border-color: #FFFFFF;
  border-radius: 0.5rem;
  background: none;

  padding: 1.2rem 3.2rem;  
  position:absolute; 
 margin-top: 2rem;
 margin-left: 43%;
}

#sabermais:hover{
  background-color: #FFFFFF;
  color: #02799D;
}

p{
  font-size: 1.8rem;
  color: var(--text-color-p);

  margin: 1.6rem 20rem 8rem 8rem;
  word-break: normal;


}


@media (min-width:1600px){
 body{
   background-size: 100%;
 }
}